<header class="component header ng-cloak" ng-if="$ctrl.firebaseUserAuthenticated">
	 <div class="container-fluid">
		 <div class="row">
			 <div class="col-xs-12">
				 <div class="navbar">
					 <div class="navbar__brand">
						 <a href="/#/dashboard" class="logo">
						 	<img src="assets/images/svg/wedding-planner-logo.svg"/>
						 </a>
					 </div>
					 <nav class="navbar__nav">
						 <ul class="list-unstyled nav">
							 <li class="nav__element">
								 <div class="btn-group" uib-dropdown auto-close="outsideClick" keyboard-nav="true" on-toggle="$ctrl.toggled(open)" dropdown-append-to-body=true is-open="$ctrl.sideBarMenuStatus">
									 <a href="#" id="btn-append-to-body" class="nav__anchor nav__anchor--menu" uib-dropdown-toggle>
										 <span class="nav__element-profileIcon"><i class="fas fa-briefcase"></i></span>
										 <span class="nav__element-profileName">
											 <span class="nav__element-profileName-prefix">Dostępne</span> moduły
										 </span>
									 </a>
									 <ul class="list-unstyled dropdown-menu dropdown-menu__navigation" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
										<a class="dropdown-menu__close" href="#" ng-click="$ctrl.sideBarMenuHidding()"><i class="fas fa-times"></i></a>
										 <li class="dropdown-menu__element">
											 <div class="dropdown-menu__list-title">Dostępne moduły w Wedding Plannerze</div>
											 <ul class="list-unstyled">
												 <li ng-repeat="menuItem in $ctrl.menuItems__modules" ng-class="{active: $ctrl.isActive('{{ menuItem.url }}')}">
													 <a ng-href="#"
													 	title="{{menuItem.title}}"
														class="dropdown-menu__anchor"
														 ng-class="menuItem.specialClass"
														 ng-click="$ctrl.sideBarMenuHidding(menuItem.url)">
														 <span class="dropdown-menu__icon">
															 <ng-include src="menuItem.icon"></ng-include>
														 </span>
														 {{ menuItem.name }}
													 </a>
												 </li>
											 </ul>
										 </li>

										 <li class="dropdown-menu__element">
											 <div class="dropdown-menu__list-title">Bądź na bieżąco ze swoją aplikacją</div>
											 <ul class="list-unstyled">
												 <li ng-repeat="menuItem in $ctrl.menuItems__doc" ng-class="{active: $ctrl.isActive('{{ menuItem.url }}')}">
													 <a ng-href="#"
													 	title="{{menuItem.title}}"
														class="dropdown-menu__anchor"
														ng-click="$ctrl.sideBarMenuHidding(menuItem.url)">
														 <span class="dropdown-menu__icon">
															 <ng-include src="menuItem.icon"></ng-include>
														 </span>
														 {{ menuItem.name }}
													 </a>
												 </li>
											 </ul>
										 </li>

										 <li class="dropdown-menu__element">
											 <div class="dropdown-menu__list-title">Sprawdź aktualności ze świata</div>
											 <ul class="list-unstyled">
												 <li ng-repeat="menuItem in $ctrl.menuItems__additional" ng-class="{active: isActive('{{ menuItem.url }}')}">
													 <a ng-href="#"
													 	title="{{menuItem.title}}"
														class="dropdown-menu__anchor"
														ng-click="$ctrl.sideBarMenuHidding(menuItem.url)">
														 <span class="dropdown-menu__icon">
															 <ng-include src="menuItem.icon"></ng-include>
														 </span>
														 {{ menuItem.name }}
													 </a>
												 </li>
											 </ul>
										 </li>
									 </ul>
								 </div>
							 </li>
							 <li class="nav__element nav__element--logout">
								 <div class="btn-group" uib-dropdown auto-close="outsideClick" keyboard-nav="true">
									 <a href="#" id="btn-append-to-body" class="nav__anchor nav__anchor--logout" uib-dropdown-toggle>
										<span class="nav__element-profileIcon"><i class="fas fa-user-circle"></i></span>
										<span class="nav__element-profileName">
											<span class="nav__element-profileName-prefix">Twój</span> profil
										</span>
									 </a>
									 <ul class="list-unstyled dropdown-menu dropdown-menu--logout animated fadeIn" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
										 <li class="login-timer">
											 Ostatnie poprawne logowanie:
											 <span class="login-timer__data">{{ $ctrl.user.lastSuccessedLoginData | date:'dd-MM-yyyy, HH:mm:ss'}}</span>
										 </li>
										 <li class="avatar">
											 <figure>
												 <div class="avatar__photo">
													 <img ng-src="{{$ctrl.firebaseUser.photoURL}}" alt="User photo" image-change class="ng-src-animation">
												 </div>
												 <figcaption>
													 <span class="avatar__label">Zalogowany jako: </span>
													 <div class="avatar__user" ng-class="$ctrl.firebaseUserDisplayName === true ? '' : 'avatar__user--only-email'">
														 <span class="avatar__user-name" ng-if="$ctrl.firebaseUserDisplayName"> {{ $ctrl.firebaseUser.displayName }} </span>
														 <span class="avatar__user-email"> {{ $ctrl.firebaseUser.email }} </span>
													 </div>
												 </figcaption>
											 </figure>
										 </li>
										 <li class="footer" ng-controller="ctrlUserLogout">
											 <a ng-href="#/user-profile" class="btn btn-transparent btn-xs">Profil użytkownika</a>
											 <a href="#" ng-click="appSignOut()" class="btn btn-transparent btn-xs">Wyloguj</a>
										 </li>
									 </ul>
								 </div>
							 </li>
						 </ul>
					 </nav>
				 </div>
			 </div>
		 </div>
	 </div>
 </header>
