<footer class="component footer" data-component-name="footer" ng-if="firebaseUserAuthenticated">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer__inner">
                    <h6 class="small">&copy {{date | date:'yyyy'}} by e-inet.pl, wszystkie prawa zastrzeżone. Wersja aplikacji <code ng-controller="controllerAppVersion">{{appVersion}}</code></h6>
                </div>
            </div>
        </div>
    </div>
</div>
