<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="user-profile__banner">
					<h6 class="user-profile__name" ng-if="$ctrl.firebaseUserDisplayName">
						<small>Profil użytkownika</small>
						{{$ctrl.displayUserName.displayName}}
					</h6>
				</div>
				<div class="user-profile__image">
					<div class="user-profile__avatar">
						<app-spinner></app-spinner>
						<div ng-if="defaultProfileImage">
							<img src="assets/images/default_avatar.png" alt="User profile photo"/>
						</div>
						<img ng-src="{{currentUserProfileImage}}" alt="User profile photo" ng-if="userProfileSrcSelected" image-change class="ng-src-animation">
					</div>
					<h6 class="user-profile__name user-profile__name--mobile" ng-if="$ctrl.firebaseUserDisplayName">
						<small>Profil użytkownika</small>
						{{$ctrl.displayUserName.displayName}}
					</h6>
					<div class="user-profile__navigation">
						<a class="btn btn-transparent disabled" href="/#/user-profile">Zarządzaj danymi profilowymi</a>
						<a class="btn btn-transparent" href="/#/user-profile/quick-links-management">Skonfiguruj szybkie linki</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-fluid">
		<div class="row">
			<uib-tabset active="active">
				<uib-tab index="0">
					<div class="col-sm-4">
						<app-intro-banner
		                    class="intro-banner--sidebar"
		                    introBannerTitle="Zarządzaj danymi profilowymi"
		                    introbannerdescription="Uaktualnij swój profil o takie elementy jak: zdjęcie profilowe, imię oraz nazwisko">
							<intro-banner-desclimer>
		                        <small>Rekomendowany wymiar zdjęcia: 100x100 px.</small>
		                    </intro-banner-desclimer>
		                </app-intro-banner>
					</div>
					<div class="col-sm-8">
						<div class="component-layout">
							<div class="user-profile" data-component-name="user-profile">
								<div class="inner user-profile__inner">
									<div class="row">
										<div class="col-sm-6">
											<figure class="user-profile__photo text-xs-center">
												<div class="user-profile__image user-profile__image--small">
													<app-spinner></app-spinner>
													<div ng-if="defaultProfileImage">
														<img src="assets/images/default_avatar.png" alt="User profile photo"/>
													</div>
													<img ng-src="{{currentUserProfileImage}}" alt="User profile photo" ng-if="userProfileSrcSelected" image-change class="ng-src-animation">
													<span class="user-profile__image-default" ng-if="defaultProfileImage">
														Brak zdjęcia profilowego
													</span>
												</div>
												<figcaption>
													<label for="fileUploader" class="user-profile__uploader">
														<input type="file" name="user-profile-photo"
													   			   	   onchange="angular.element(this).scope().fileNameGetter(this)"
													   			   	   id="fileUploader"
													   			   	   class="user-profile__file">
									   			   	    <span role="button" class="btn btn-file">Wybierz zdjęcie profilowe</span>
													</label>

												   		<uib-progressbar max="100" value="dynamic" type="success" ng-if="userProfileUploadedInit" title="Postęp przesyłu pliku">
												   			<span class="progress__caption">{{ userProfileUploadProgress | percentage:1 }}</span>
												   		</uib-progressbar>
												</figcaption>
													<span class="user-profile__image-validation" ng-if="userProfileImageinvald">
														{{userProfile.imageInvalid}}
													</span>
											</figure>
										</div>
										<div class="col-sm-6">
											<div class="user-profile__name">
												<div class="form-group form-group--modern form-group--label">
		                                    		<label for="firstName" class="label">Podaj imię</label>
				                                    <div class="form-group__input">
				                                    	<i aria-hidden="true" class="fa fa-user form-group__icon"></i>
														<input type="text" placeholder="Imię"
															ng-model="userProfile.firstname"
															placeholder="Imię"
															class="form-control form-control--modern form-control--username">
									   			   	</div>
		                             			</div>
		                             			<div class="form-group form-group--modern form-group--label">
		                                    		<label for="firstName" class="label">Podaj nazwisko</label>
				                                    <div class="form-group__input">
				                                    	<i aria-hidden="true" class="fa fa-user form-group__icon"></i>
														<input type="text" placeholder="Nazwisko"
															ng-model="userProfile.surname"
															placeholder="Imię"
															class="form-control form-control--modern form-control--username">
									   			   	</div>
		                             			</div>
		                             			<div class="clearfix"></div>
												<div class="user-profile__button">
													<button href="#"
													ng-click="userProfileName(userProfile.firstname, userProfile.surname)"
													class="btn btn-primary"
													ng-disabled="userProfilevalidate || !userProfile.firstname || !userProfile.surname">Zaktualizuj dane</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</section>
<planner-snackbar></planner-snackbar>
