<div class="btn-group" uib-dropdown on-toggle="toggled(open)" auto-close="outsideClick">
    <span class="filter__label">Wybierz interesujący Cię filtr</span>
    <a href="#" class="btn btn-xs btn-transparent filter__button" uib-dropdown-toggle ng-disabled="disabled">
        <span ng-show="$root.actuallySelectedLabelForToDoFilter">Sortuj notatki </span>
        {{$root.actuallySelectedToDoFilter}} <span class="filter__icon"></span>
    </a>
    <ul class="dropdown-menu filter__dropdown animated zoomIn" uib-dropdown-menu role="menu">
        <li ng-repeat="(key, value) in segmentsSorting" class="filter__segment-area">
            <ul class="list-unstyled">
                <li ng-repeat="(segmentKey, segmentValue) in value" class="filter__segment-item">
                    <span class="filter__segment-label">{{segmentKey}}</span>
                    <ul class="list-unstyled">
                        <li ng-repeat="data in segmentValue">
                            <a href="#"
                               ng-class="{isActive: $id == $root.actuallySelected}"
                               ng-click="setOrderProperty(data.sortProperty, $id, data.sortPropertyLabel, data.sortName)" class="filter__segment-anchor">{{data.sortName}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
