// Placeholder box-shadow around
%placeholder-box-shadow-around {
    box-shadow: 0 0 1px $brand-gray;
}

// Placeholder border-top light
%placeholder-border-top-light {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

// Placeholder bootstrap grid negative horizontal margin (-15px)
%placeholder-negative-margin {
    margin-left: -($grid-gutter-width-base / 2);
    margin-right: -($grid-gutter-width-base / 2);
}
