html {
  font-size:62.5%;
}
html, body {
    height: 100%;
}
body {
    font-weight: $fw-3;
}
.container-fluid {
    max-width: $container-fluid-max-width;
}
.component-layout {
    background-color: $color-white;
    box-shadow: $google-box-shadow-3dp;
    margin: $padding-base 0;
    padding: $padding-base;
    @include media-breakpoint-down(sm) {
        padding: $padding-sm $padding-normal;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

img {
    max-width: 100%;
}

.btn:disabled {
    cursor: default;
    pointer-events: none;
}

ul {
    li {
        font-size: $font-size-xs;
    }
}

.underline {
    text-decoration: underline;
}

.tooltip {
    font-weight: $fw-3;
    font-size: $font-size-xs;
}
