//- Display [mixin]
@mixin display($param) {
    display: $param;
}

//- Position full absolute [mixin]
@mixin absolute() {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
}

//- Font weight [mixin]
@mixin font_weight ($param) {
    font-weight: $param;
}

//- Opacity [mixin]
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//- Transitions [mixin]
@mixin transition_opacity() {
    transition: opacity 300ms ease-in-out;
}

@mixin transition_bezier() {
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

//- Border radius [mixin]
@mixin border_radius($arg) {
    border-radius: $arg;
}

//- Wyśrodkowanie elementu przy pomocy position absolute oraz transform
@mixin absolute-full-centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin absolute-vertical-centering {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// Placeholder bootstrap grid negative horizontal margin (-15px)
@mixin placeholder-negative-margin {
    margin-left: -($grid-gutter-width-base / 2);
    margin-right: -($grid-gutter-width-base / 2);
}

// Dropdown :: Dropdown (ui.bootstrap.dropdown)
@mixin dropdown-menu {
    box-shadow: $dropdown-shadow;
    border-color: $border-color;
    border-radius: $border-radius;
    padding: 0;
    margin: 0;
    animation-duration: .3s;
    &:before, &:after {
        content: " ";
        bottom: 100%;
    	right: $padding-sm*2;
    	border: solid transparent;
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }
    &:before {
        border-color: rgba(194, 225, 245, 0);
    	border-bottom-color: $border-color;
    	border-width: 10px;
    }
    &:after {
        border-color: rgba(136, 183, 213, 0);
    	border-bottom-color: #fff;
    	border-width: 9px;
    	margin-right: 1px;
    }
}

//- Progress bar
@mixin progress-bar-overlay ($bgColor, $alpha: .2){
    &:after {
        content: '';
        @include absolute;
        background-color: rgba(red($bgColor), green($bgColor), blue($bgColor), $alpha);
    }
}
@mixin progress-bar-pin-color ($bgColor, $alpha: .8) {
    background-color: rgba(red($bgColor), green($bgColor), blue($bgColor), $alpha);
    &:after {
        border-top-color: rgba(red($bgColor), green($bgColor), blue($bgColor), $alpha);
    }
}

//- Placeholder [mixin]
@mixin placeholder {
  ::-webkit-input-placeholder {@content;}
  :-moz-placeholder           {@content;}
  ::-moz-placeholder          {@content;}
  :-ms-input-placeholder      {@content;}
}

@mixin font-awesome($iconCode, $pseudoElement: 'before') {
    &:#{$pseudoElement} {
        content: $iconCode;
        font-family: 'Font Awesome 5 Free';
        @content;
    }
}
