html {
  font-size:62.5%;
}
html, body {
    height: 100%;
}
body {
    font-weight: $fw-3;
    padding-top: 72px;
    @include media-breakpoint-down(sm) {
        padding-top: 63px;
    }
    &.uib-dropdown-open {
        overflow-y: hidden;
    }
    &::-webkit-scrollbar-track
	{
		background-color: $brand-gray-light;
	}

	&::-webkit-scrollbar
	{
		width: 10px;
		background-color: $brand-gray-light;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: $border-color;
	}
    &::before {
        content: '';
        opacity: 0;
        transition: opacity .3s;
    }
    &.uib-dropdown-open {
        .dropdown-menu {
            &__navigation {
                transform: translateX(0);
                box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 12px 18px 1px rgba(0,0,0,.2);
            }
        }
        &::before {
            content: '';
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.6);
            z-index: 9;
            opacity: 1;
        }
    }
}
.container-fluid {
    max-width: $container-fluid-max-width;
}
.component-layout {
    background-color: $color-white;
    box-shadow: $google-box-shadow-3dp;
    margin: $padding-base 0;
    padding: $padding-base;
    @include media-breakpoint-down(sm) {
        padding: $padding-sm $padding-normal;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

img {
    max-width: 100%;
}

.btn:disabled {
    cursor: default;
    pointer-events: none;
}

ul {
    li {
        font-size: $font-size-xs;
    }
}

.underline {
    text-decoration: underline;
}

.tooltip {
    font-weight: $fw-3;
    font-size: $font-size-xs;
}
.dropdown-menu {
    @include dropdown-menu;
}
.row {
    &--flex {
        display: flex;
        margin: 0;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.col-flex-3 {
    width: calc(33.333333% - 30px);
    margin: 0 10px;
    @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 0;
    }
}
.select-label {
    font-size: 10px;
    padding-left: 4px;
    margin-bottom: 5px;
}

hr {
    &.hr--light {
        margin: $padding-sm*2;
        border: 0;
    }
}
.empty--note {
    text-align: center;
    max-width: 780px;
    margin: $padding-base auto 0 auto;
    small {
        display: block;
    }
}
