<!-- Component intro-banner -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-intro-banner introBannerTitle="Najświeższe informacje ze świata oraz z Polski">
                    <intro-banner-desclimer>
                        Informacje zaprezentowane dzięki uprzejmości <a ng-href="https://newsapi.org/" target="_blank" rel="noopener noreferrer"> News&nbsp;API </a>
                    </intro-banner-desclimer>
                </app-intro-banner>
            </div>
        </div>
    </div>
</section>

<!-- Component BreadCrumbs -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <comp-news></comp-news>
            </div>
        </div>
    </div>
</section>
