<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-breadcrumbs class="breadcrumbs--simple"></app-breadcrumbs>
            </div>
        </div>
    </div>
</section>
<section class="section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<app-intro-banner
					class="intro-banner--sidebar"
					introBannerTitle="Skonfiguruj szybkie linki"
					introbannerdescription="Stwórz spersonalizowane menu w celu szybszego dostępu do najczęściej wykorzystywanych przez Ciebie modułów.">
					<intro-banner-desclimer>
						<small>
							Wybrane przez Ciebie linki są w pełni spersonalizowane ( przynależą wyłącznie do Twojego konta ).
							Kolejnośc linków będzie odpowiadała kolejności Twoich wyborów.
							<a class="link--back intro-banner__historyback" href="/#/user-profile">Zarządzaj danymi profilowymi</a>
						</small>
					</intro-banner-desclimer>
				</app-intro-banner>
			</div>
			<div class="col-md-8">
				<comp-custom-user-menu></comp-custom-user-menu>
			</div>
		</div>
	</div>
</section>
