<!-- Component intro-banner -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-intro-banner introBannerTitle="Lista rzeczy do zrobienia"></app-intro-banner>
            </div>
        </div>
    </div>
</section>

<!-- Component BreadCrumbs -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-todo-list></app-todo-list>
            </div>
        </div>
    </div>
</section>
