.page-header {
    &--error {
        text-align: center;
        padding: 100px;
    }
    &__title {
    	margin-bottom: $padding-sm;
        font-size: $font-size-h2;
        display: inline-block;
        color: $brand-primary;
        padding-bottom: $padding-sm;
        @include media-breakpoint-down(sm) {
            margin-bottom: $padding-xs;
        }
        .fa {
            margin-right: $padding-xs;
        }
    }
    &__subtitle {
    	font-size: $font-size-h5;
        margin-bottom: $padding-xs;
        line-height: 1.4;
    }
}
