.form-group {
    margin-bottom: $padding-base;
    &--spacer {
        padding-top: $padding-base;
    }
    &__button {
        margin-top: $padding-base;
        text-align: center;
        button:disabled {
            cursor: default;
        }
    }
    + .form-group:not(.form-group__helper) {
        margin: $padding-base 0;
    }
    //- Radio elements
    &--radio {
        input[type=radio] {
            display: none;
        }
        input[type=radio]:checked + label {
            &:after {
                opacity: 1;
            }
        }
    }
    &__label {
        position: relative;
        cursor: pointer;
        padding-left: $padding-medium;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -8px;
            display: block;
            content: "";
            width: 16px;
            height: 16px;
            border: 1px solid $border-color;
            border-radius: $border-radius-sm;
        }
        &:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 50%;
            line-height: 10px;
            margin-top: -5px;
            font-size: 10px;
            opacity: 0;
            transition: all 0.4s ease;
            width: 10px;
            height: 10px;
            background-color: $brand-primary;
            border-radius: $border-radius-sm;
        }
    }
}

.form-control {
    @include border_radius(0);
    @include transition_bezier();
    font-size: $font-size-xs;
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: #fff;
        background-color: #f8f8f8;
    }
    &.not-empty {
        border-color: #fff;
        background-color: #f8f8f8;
    }
    &--validate {
        border-color: #e8a1a1;
    }
}


//- Select

// select {
//      @extend .form-control;
//     padding: 9px 21px;
//     height: 47px !important;
//     padding-left: 5px !important;
// }

//- Label
.label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #858585;

}
.label {
    &--radio {
        display: block;
        text-align: left;
        padding-bottom: 10px;
    }
}

//- Mozilla support

@-moz-document url-prefix() {
    .form-control {
        padding-top: 0;
        padding-bottom: 0;
        height: 44px;
    }
}

//- Forms groups with modern variant
.form-group {
    &--modern {
        margin: 0;
    }
    &__input {
        position: relative;
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 47px;
        height: 100%;
        line-height: 47px;
        text-align: center;
        font-size: $font-size-base;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        color: #fff;
        background-color: $brand-primary;
    }
    &--spacer {
        margin: 0;
        &:last-of-type {
            margin-bottom: 3rem;
        }
    }
    // .error {
    //     color: $brand-danger;
    //     transition: opacity linear .2s;
    //     opacity: 1;
    //     position: relative;
    //     display: block;
    // }
    .ng-hide {
        opacity: 0;
    }
    &__helper {
        margin-top: 0;
        max-height: 0;
        margin-bottom: $padding-medium;
        transition: all .5s;
        &.error {
            max-height: 50px;
        }
    }
}
.form-control {
    &--modern {
        background-color: #fff;
        border: none;
        border-radius: $border-radius;
        height: 47px;
        overflow: hidden;
        box-shadow: none;
        padding: 0 20px 0 70px;
        border: 1px solid #ccc;
        &:focus {
            background-color: #fff;
            border-color: $brand-primary;
        }
    }
    &--textarea {
        height: 150px;
        padding: 12px 20px 20px;
    }
}

textarea.ng-invalid {
    background-color: #f211111a;
}

// Ekran edycji (style dla grupy przycisków (Zapisz, Wróc))
.form-group-actions {
    padding-bottom: 35px;
}
