.app-selectize {
    position: relative;
    $component: &;
    &__label {
        margin-bottom: $padding-xs * 2;
    }
    .selectize-input {
        padding: $padding-normal;
    }
    .selectize-dropdown {
        padding: 0;
        margin: 0;
        width: 100% !important; // Override Javascript styles
        border-bottom: 3px solid $border-color;
        .option {
            padding: $padding-sm $padding-normal;
            font-weight: 500;
            &.active {
                background-color: #fff;
            }
            &:hover {
                background-color: $border-color-dropdown-element;
            }
        }
    }
    .btn {
        display: table;
        margin: ($padding-xs) 0 ($padding-medium) auto;
    }
    .js-preloader {
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 50%;
        margin-top: -20px;
        margin-left: -20px;
    }
    &.is--loaded {
        .js-preloader {
            display: none;
        }
    }
}
