.table-management {
    border-collapse: separate;
    border-spacing: 0 5px;
    &__status span {
        color: #fff;
        border-radius: .25em;
        padding: .4em .6em;
        display: inline-block;
        min-width: 120px;
        background: #7ab55c;
        transition: all,250ms,cubic-bezier(.55,0,.1,1);
    }
    .refusal span {
        background-color: #d9534f;
    }
    .unconfirmed span {
        background-color: #f0ad4e;
    }
    thead {
        background-color: #fff;
        td {
            padding: 15px 20px;
            font-weight: 600;
        }
    }
    tbody {
        td {
            vertical-align: middle;
            border: 0;
            border-bottom: 1px solid #e2e2e4;
            color: #5b5b60;
            border-top: none;
            padding: 5px 15px;
            background: #f3f0f1;
            background: -webkit-linear-gradient(top,#f3f0f1 0,#eee 100%);
            background: linear-gradient(to bottom,#f3f0f1 0,#eee 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f0f1', endColorstr='#eeeeee', GradientType=0 );
        }
        tr:hover>td {
            background: #5b5b60;
            color: #fff;
        }
    }
}
