.footer {
    &__inner {
        padding: $padding-sm 0 0;
        border-top: 1px solid $border-color;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        @include media-breakpoint-down(xs) {
            padding-top: $padding-normal;
        }
    }
    &__app-version {
        display: inline-block;
        white-space: nowrap;
        padding-top: $padding-xs;
    }
    .small {
        margin-bottom: $padding-normal;
    }
}
