/* Materials forms */
.material-form {
	$component: &;
	&__group {
		position: relative;
		padding-top: 2rem;
		+ #{$component}__group {
			margin-top: $padding-normal;
			&--textarea {
				margin-top: $padding-sm + $padding-normal;
			}
		}
		&--spacer-bottom {
			padding-bottom: $padding-base;
		}
	}
	&__control {
		font-size: $font-size-xs;
		width: 100%;
		background-color: #fff;
		padding: 0;
		border: 0;
		box-shadow: none;
		outline: 0;
		border-bottom: 1px solid $border-color;
		min-height: 2rem;
		&.ng-invalid {
			background-color: #fff;
			&.ng-touched {
				border-bottom-color: $brand-danger;
			}
		}
		&--textarea {
			min-height: 5.8rem;
			resize: vertical;
		}
		&:focus {
			~ #{$component}__label {
			    transform: translate(0,0);
				font-size: 1rem;
				color: $border-color;
				&.error {
					color: $brand-danger;
				}
			}
		}
		&.ng-not-empty {
			~ #{$component}__label {
			    transform: translate(0,0);
				font-size: 1rem;
			}
		}
		&.ng-valid {
			~ #{$component}__label {
				color: $brand-success;
			}
			&.ng-untouched {
				~ #{$component}__label {
					color: $gray-dark;
				}
			}
		}
		&--transparent {
			background: none;
			&.ng-invalid {
				background: none;
			}
		}
	}
	&__label {
		position: absolute;
		top: 0;
		left: 0;
		font-size: $font-size-xs;
		transition: all .15s ease-out;
		pointer-events: none;
		cursor: text;
		margin: 0;
		transform: translate(0,2rem);
		&--textarea {
			transform: translate(0,1rem);
		}
	}
	&__icon {
		position: absolute;
		right: 0;
		color: $border-color;
	}

	// Obsługa błędów
	&__alert {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		text-align: right;
	}
	&__error {
		font-size: $font-size-xs;
		color: $brand-danger;
	}

	/* Wyeliminowanie autofilla na Chrome */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	textarea:-webkit-autofill:active {
		-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
		-webkit-transition-delay: 9999s;
	}

}
