.page-header {
    &--error {
        text-align: center;
        padding: 100px;
    }
    &__title {
    	margin-bottom: $padding-sm;
        @include media-breakpoint-down(sm) {
            font-size: $font-size-h2;
            margin-bottom: $padding-xs;
        }
    }
    &__subtitle {
    	font-size: $font-size-h4;
        @include media-breakpoint-down(sm) {
            font-size: $font-size-h5;
            margin-bottom: 0;
        }
    }
}
