/* Component Breadcrumbs
 * Wymagana klasa w drzewie DOM "breadcrumbs"
 */
.breadcrumbs {
	display: block;
	text-align: right;
	padding-top: $padding-sm;
	padding: $padding-sm $padding-normal 0 $padding-normal;
	margin-bottom: $padding-normal*2.5;
	background-color: #fff;
	border-bottom: 1px solid $border-color-dropdown-element;
	@include media-breakpoint-down(md) {
        margin-left: -($padding-normal);
        margin-right: -($padding-normal);
    }
	&--smaller {
		margin-bottom: $padding-normal;
	}
	&__element {
		display: inline-block;
		position: relative;
		margin-right: -4px;
		padding: 0 $padding-xs;
		&:not(:last-child) {
			&:after {
				content: '|';
				position: absolute;
				right: -2px;
			}
		}
		&--major {
			text-shadow: 0 0 0 $brand-primary;
		}
	}
}
