.table-management {
    $root: &;
    margin-bottom: $spacer;
    background-color: #fff;
    border-right: 1px solid $border-color-dropdown-element;
    border-bottom: 3px solid $border-color-dropdown-element;
    @include media-breakpoint-down(sm) {
        background-color: transparent;
        border: 0;
        margin-bottom: $padding-medium;
    }
    &__header {
        border-bottom: 2px solid $border-color;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-down(sm) {
            background-color: $color-white;
            padding: $padding-xs;
            border: 1px solid $border-color;
            border-bottom-width: 3px;
            margin-bottom: $padding-normal;
        }
        &--body {
            &:nth-child(2n) {
                @include media-breakpoint-up(md) {
                    background-color: rgba(red($border-color-dropdown-element), green($border-color-dropdown-element), blue($border-color-dropdown-element), .2);
                }
            }
            &:hover {
                @include media-breakpoint-up(md) {
                    background-color: rgba(red($border-color-dropdown-element), green($border-color-dropdown-element), blue($border-color-dropdown-element), .4);
                }
                @include media-breakpoint-down(sm) {
                    box-shadow: $google-box-shadow-1dp;
                }
            }
        }
    }
    &__cell {
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;
        border-left: 1px solid $border-color-dropdown-element;
        border-right: 0;
        padding: $padding-sm;
        min-height: 65px;
        font-size: $font-size-sm;
        @include media-breakpoint-down(sm) {
            flex-basis: 50%;
            flex-wrap: wrap;
            width: 50%;
            border: 0;
            min-height: 0;
        }
        &-label {
            @include media-breakpoint-up(md) {
                display: none;
            }
            @include media-breakpoint-down(sm) {
                display: block;
                width: 100%;
                color: $brand-gray;
                font-size: $font-size-xs;
            }
        }
        &--index {
            flex: 0 0 60px;
            cursor: default;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        &--operations {
            cursor: default;
        }
        &--btn-group {
            justify-content: center;
            @include media-breakpoint-down(sm) {
                order: 1;
                border-top: 1px solid $border-color-dropdown-element;
                margin-left: $padding-sm;
                margin-right: $padding-sm;
                padding-top: $padding-normal;
            }
            button {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__hidden-row {
        position: relative;
        //display: none;
        width: 100%;
        border: 1px solid $border-color-dropdown-element;
        border-bottom: 0;
        border-right: 0;
        padding-left: 60px;
        @include media-breakpoint-down(sm) {
            border: 0;
            padding-left: $padding-sm;
            margin-top: $padding-sm;
        }
        &-label {
            @include media-breakpoint-up(md) {
                display: none;
            }
            @include media-breakpoint-down(sm) {
                display: block;
                width: 100%;
                color: $brand-gray;
                font-size: $font-size-xs;
            }
        }
    }
    &__row-details {
        @include media-breakpoint-up(md) {
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -55px;
            background-color: #fff;
            border: 1px solid $border-color-dropdown-element;
            padding: 5px 20px 5px 10px !important; /* Nadpisanie defaultowych styli */
            z-index: 9;
            cursor: pointer;
            opacity: 0;
            pointer-events: none;
            transition: opacity .3s;
            font-size: $font-size-xs;
            #{$root}__row:hover & {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        @include media-breakpoint-up(md) {
            padding: 1em 40px 1em 0;
            margin-bottom: 0;
            margin-left: -10px;
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            padding-left: $padding-sm;
        }
    }
    &__list-element {
        display: block;
        position: relative;
        width: calc(33.33333% - 20px);
        margin: 10px;
        padding: $padding-normal;
        background: #fff;
        border: 1px solid $border-color-dropdown-element;
        @include media-breakpoint-down(sm) {
            margin: 0;
            width: 50%;
            border: 0;
            padding: 0 $padding-sm $padding-sm 0;
        }
        &--wide {
            @include media-breakpoint-up(md) {
                width: calc(66.66666% - 20px);
            }
            @include media-breakpoint-down(sm) {
                width: 50%;
            }
        }
        &--button {
            @include media-breakpoint-up(md) {
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: none;
                border: 0;
            }
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    &__hidden-description,
    &__hidden-header{
        display: block;
    }
    &__hidden-header {
        @include media-breakpoint-up(md) {
            font-weight: 500;
        }
        @include media-breakpoint-down(sm) {
            color: $brand-gray;
            font-size: $font-size-xs;
        }
    }
    &__hidden-description {
        @include media-breakpoint-up(md) {
            padding: $padding-sm 0;
        }
    }
    &__hide-button {
        @include media-breakpoint-up(md) {
            background-color: #fff;
            border: 1px solid $border-color-dropdown-element;
            padding: 5px 20px 5px 10px !important; /* Nadpisanie defaultowych styli */
            border-bottom: 2px solid #D8D8D8;
            z-index: 9;
            cursor: pointer;
            @include transition_bezier;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 5px;
                width: 10px;
                height: 1px;
                background-color: #2196F3;
                transform-origin: 50% 50%;
                will-change: transform;
                transition: all 0.25s;
            }
            &:hover {
                color: $brand-primary;
            }
        }
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    [data-status="potwierdzony"] {
        color: $brand-success;
    }
    [data-status="odmowa"] {
        color: $brand-danger;
    }
    [data-status="oczekujacy"] {
        color: $brand-warning;
    }
    /* Modyfikacja komponentu accordion w ramach komponentu table management */
    .vAccordion--default v-pane.is-expanded > v-pane-header {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    .vAccordion--default v-pane > v-pane-header {
        @include media-breakpoint-down(sm) {
            font-size: $font-size-sm;
            border: 0;
            margin-bottom: $padding-sm;
        }
        &::before,
        &::after {
            right: 5px;
        }
    }
    v-pane.is-expanded > v-pane-content > div {
        @include media-breakpoint-down(sm) {
            padding-bottom: 0;
        }
    }

    /* Sort arrow */
    &__sort-arrow {
        position: absolute;
        right: $padding-normal;
    }

    // Paginacja
    &__paginator {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: $padding-normal;
        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            padding: 0 0 $padding-normal 0;
        }
        &-size,
        &-note {
            font-size: $font-size-xs;
            padding-right: $padding-normal;
            color: $brand-gray;
        }
        &-note {
            @include media-breakpoint-down(sm) {
                width: 100%;
                order: 1;
                padding: 0 0 $padding-sm 0;
                text-align: center;
            }
        }
        &-size {
            padding-right: $padding-medium;
            @include media-breakpoint-down(sm) {
                order: 2;
                width: 60%;
                padding-right: 0;
            }
            .dropdown-toggle {
                display: inline-block;
                cursor: pointer;
                border-bottom: 1px solid $border-color;
                padding-left: 5px;
                padding-right: 30px;
                margin-left: 5px;
                text-align: left;
                &:after {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .dropdown-menu {
    			top: 50%;
                transform: translateY(-50%);
    			left: 0;
    			background-color: #fff;
    			animation-duration: .3s;
    			border-radius: 0;
    			padding: 0;
    			margin: 0;
                min-width: 75px;
                max-height: 100px;
                overflow-y: auto;
    			li {
                    cursor: pointer;
					padding: 5px 10px;
					display: block;
					color: $brand-dark;
					font-size: $font-size-xs;
					&:hover {
						background-color: $border-color-dropdown-element;
					}
    			}
    		}
        }
        &-navigation {
            padding-left: $padding-normal;
            @include media-breakpoint-down(sm) {
                order: 3;
                width: 40%;
                text-align: right;
            }
            .pagination {
                margin: 0;
            }
            li {
                display: inline-block;
                margin: 0 5px;
                a {
                    font-size: 0;
                    color: $brand-dark;
                    @extend %fa-icon;
                    @extend .fa;
                    &:before {
                        font-size: 14px;
                    }
                }
                &.pagination-first {
                    &.disabled {
                        pointer-events: none;
                        color: $gray;
                        opacity: .5;
                    }
                    a {
                        &:before {
                            content: '\f100';
                        }
                    }
                }
                &.pagination-last {
                    &.disabled {
                        pointer-events: none;
                        color: $gray;
                        opacity: .5;
                    }
                    a {
                        &:before {
                            content: '\f101';
                        }
                    }
                }
                &.pagination-prev {
                    &.disabled {
                        pointer-events: none;
                        color: $gray;
                        opacity: .5;
                    }
                    a {
                        &:before {
                            content: '\f104';
                        }
                    }
                }
                &.pagination-next {
                    &.disabled {
                        pointer-events: none;
                        color: $gray;
                        opacity: .5;
                    }
                    a {
                        &:before {
                            content: '\f105';
                        }
                    }
                }
            }
        }
    }

}

.manageguest-sorting-label {
    float: right;
    &__sorting-order {
        text-transform: lowercase;
    }
    &__sorting-label {
        font-weight: 600;
    }
    &__sorting-order {
        text-decoration: underline;
    }
    .animationIf.ng-enter,
    .animationIf.ng-leave {
      transition: opacity ease-in-out 0.3s;
    }
    .animationIf.ng-enter,
    .animationIf.ng-leave.ng-leave-active {
      opacity: 0;
    }
    .animationIf.ng-leave,
    .animationIf.ng-enter.ng-enter-active {
      opacity: 1;
    }
}
