%section-title {
    font-size: $font-size-h6;
    margin-top: 0;
    background-color: $brand-dark;
    display: block;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-weight: 300;
}

.section-title {
    @extend %section-title;
}
