.btn {
    @include font_weight(400);
    @include transition_bezier;
    position: relative;
    padding: 15px 35px;
    font-size: 1.1em;
    &:active {
        top: 1px;
        box-shadow: none;
    }
    &:focus:active, &:focus {
        outline: none;
    }
    &--motive {
        background-color: $brand-primary;
        border: 1px solid $brand-primary;
        color: #fff;
        &:hover, &:focus, &:active {
            color: #fff;
            background-color: $brand-dark;
            border: 1px solid $brand-dark;
        }
    }
    &-danger {
        color: $brand-danger;
        border: 1px solid $brand-danger;
        background-color: #fff;
        &:hover, &:focus, &:active {
            background-color: darken($brand-danger, 5%);
            color: #fff;
        }
    }
    &-success {
        color: $brand-success;
        border: 1px solid $brand-success;
        background-color: #fff;
        &:hover, &:focus, &:active {
            background-color: darken($brand-success, 5%);
            color: #fff;
        }
    }
    &-warning {
        background-color: $brand-warning;
        border-color: $brand-warning;
        &:hover, &:focus, &:active {
            background-color: darken($brand-warning, 15%);
            color: #fff;
            border-color: $brand-warning;
        }
    }
    &-default {
        background-color: #fff;
        color: $brand-dark;
        &:hover {
            background-color: $brand-primary;
            color: #fff;
        }
    }
    &-transparent {
        background-color: $brand-gray-light;
        border: 1px solid $border-color;
        color: $brand-dark;
    }
    //- Small buttons
    &-sm {
        padding: 10px 25px;
    }
    &-xs {
        padding: 5px 10px;
        border-radius: 2px;
    }
    &--edit {
        background-color: #fff;
        border: 1px solid #aaa;
    }
    &--delete {
        background-color: #fff;
        border: 1px solid #aaa;
    }
}

// Buttons group
.btn-group {
    &--xs {
        .btn {
            margin: 5px;
            min-width: 60px;
        }
    }
}
