.table-management {
    border-collapse: separate;
    border-spacing: 0 5px;
    &__status span {
        color: #fff;
        border-radius: .25em;
        padding: .4em .6em;
        display: inline-block;
        min-width: 120px;
        background: #7ab55c;
        transition: all,250ms,cubic-bezier(.55,0,.1,1);
    }
    .refusal span {
        background-color: #d9534f;
    }
    .unconfirmed span {
        background-color: #f0ad4e;
    }
    thead {
        background-color: #fff;
        td {
            padding: 15px 20px;
            font-weight: 600;
            &:first-child {
                padding-right: 0;
            }
        }
    }
    tbody {
        td {
            vertical-align: middle;
            border: 0;
            border: 1px solid #eeeeee !important;
            color: #5b5b60;
            border-top: none;
            padding: 5px 20px;
            &:first-child {
                padding-right: 0;
            }
            &.membershipWomen {
                background-color: pink;
            }
            &.membershipMan {
                background-color: #a8e6fb;
            }

        }
        tr:hover>td {
            background: #5b5b60;
            color: #fff;
        }
    }
}
