/* @componetn modal
 * wymagane style
 */

/* Wyśrodkowanie
 * wymagane dodanie klasy do właściwości `windowClass` modułu
 * $uibModal
 * przykład: windowClass: 'modal--centered'
*/
.modal--centered {
  text-align: center;
  padding: 0;
  &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
  }
  .modal-dialog {
      display: inline-block;
      vertical-align: middle;
      margin-right:-4px;
      overflow: auto;
      width: 100%;
      padding: $padding-normal;
      text-align: left;
      margin: 30px auto;
  }
}

/* Modal overlay
 * występują dwa wariantu koloru overlaya. Wymagane jest dodanie
 * odpowiedni klas do właściwośći openedClass modułu $uibModal
 * przykład (light) - openedClass: 'modal-opened modal-overlay--light'
 * przykład (dark) - openedClass: 'modal-opened modal-overlay--dark'
*/
.modal-overlay--light {
    .modal-backdrop {
        background: $modal-overlay-light-bg;
        &.in {
            opacity: $modal-overlay-opacity;
        }
    }
}
.modal-overlay--dark {
    overflow-y: hidden;
    .modal-backdrop {
        background: $modal-overlay-dark-bg;
        &.in {
            opacity: $modal-overlay-opacity;
        }
    }
}

/* Modal planner - variants */
.modal-planner {
    $comp: &;
    #{$comp}__header {
        padding: $padding-normal;
    }
    #{$comp}__title {
        margin-bottom: 0;
    }
}

//  Delete as danger
.modal-planner {
    $comp: &;
    &--delete {
        #{$comp}__header {
            border-bottom: 1px solid $border-color;
        }
        #{$comp}__title {
            display: flex;
            justify-content: space-between;
        }
        #{$comp}__guest-name {
            text-decoration: underline;
        }
        .modal-content {
            border-color: $brand-danger;
        }
        .modal-body {
            padding: 0;
        }
        .modal-description {
            padding: $padding-large 0;
            border-bottom: 1px solid $border-color;
            &-title {
                margin-bottom: $padding-xs;
                font-weight: $fw-6;
                color: $brand-danger;
            }
            &-subtitle {
                font-weight: $fw-3;
                padding: $padding-normal;
                margin-bottom: 0;
            }
        }
        .modal-buttons {
            text-align: right;
            margin: ($padding-sm * 2) 0 $padding-sm 0;
        }
    }
}

// Box shadow dla modala
.modal--shadowed {
    .modal-content {
        border: 1px solid $color-white;
        border-radius: $border-radius;
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    }
}

// Modal close
.modal-close {
    position: absolute;
    right: 0;
    top: -30px;
    right: 0;
    color: $brand-dark;
}
