/* Component card */
.planner-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: $padding-base $padding-base 0 $padding-base;
    margin-left: -($padding-sm);
    margin-right: -($padding-sm);
    @include media-breakpoint-down(md) {
        padding: $padding-normal $padding-normal 0 $padding-normal;
    }
}
.card {
    $component: &;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid $border-color-dropdown-element;
    box-shadow: 0 4px 2px -2px $border-color;
    padding: $padding-normal;
    min-height: 230px;
    margin: 0 $padding-sm $padding-base $padding-sm;
    flex-basis: calc(50% - (#{$padding-sm} * 2));
    vertical-align: top;
    @include media-breakpoint-down(md) {
        flex-basis: 100%;
    }
    &__side {
        float: left;
        &--left {
            width: 100%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
        &--right {
            position: absolute;
            text-align: right;
            right: $padding-normal;
            margin-top: -2px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &::after {
        content: attr(data-index); // @weddingNotebook przepisać to na dyrektywe
        font-size: 150px;
        color: $border-color-dropdown-element;
        position: absolute;
        font-weight: 300;
        top: 0;
        right: 25px;
        line-height: 0.8;
        opacity: .3;
    }

    &__category {
        margin-bottom: $padding-normal;
        font-weight: 500;
        font-size: $font-size-xs;
        color: $brand-gray;
        @include media-breakpoint-down(md) {
            margin-bottom: $padding-xs;
        }
    }
    &__author {
        font-weight: 500;
        &--sm {
            color: $brand-gray;
            display: block;
            margin-bottom: $padding-normal;
            padding-bottom: $padding-xs;
            border-bottom: 1px solid $border-color-dropdown-element;
            font-size: $font-size-xs;
            @include media-breakpoint-up(lg) {
                display: none;
            };
        }
    }
    &__title {
        font-size: $font-size-h4;
        color: $brand-dark;
        @include media-breakpoint-down(md) {
            font-size: $font-size-h3;
        }
    }
    &__description {
        margin-bottom: $padding-base;
        font-size: $font-size-sm;
        @include media-breakpoint-down(md) {
            margin-bottom: $padding-medium * 2;
        }
    }
    &__priority {
        position: absolute;
        min-width: 115px;
        display: block;
        text-align: center;
        bottom: 0;
        right: 0;
        font-size: $font-size-xs;
        span {
            display: block;
            padding: $padding-xs;
            border-top-left-radius: $border-radius;
            border: 1px solid transparent;
        }
        &--low {
            color: #fff;
            background-color: $brand-success;
            border-color: $brand-success;
        }
        &--neutral {
            color: #fff;
            background-color: $brand-warning;
            border-color: $brand-success;
        }
        &--high {
            color: #fff;
            background-color: $brand-danger;
            border-color: $brand-success;
        }
    }
}
