.user-profile {
	&__image {
		height: 200px;
		width: 200px;
		margin: 0 auto;
		border-radius: $border-radius;
		overflow: hidden;
		background-color: $brand-gray-light;
		position: relative;
		img {
			position: relative;
			z-index: 99;
		}
		  &.img-loaded {
			.ytp-spinner {
				display: none;
			}
		}
		margin-bottom: $padding-medium;
	}
	&__name {

	}
	&__button {
		text-align: right;
	}
	&__file {
		display: none;
	}
	&__uploader {
		margin-bottom: $padding-medium * 1.5;
	}
	&__image-default {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13px;
		z-index: 100;
		background-color: $brand-gray-light;
	}
}
