.has--preloader {
    display: none;
}
.js-preloader {
    border: 3px solid $border-color;
    border-radius: 50%;
    border-top: 3px solid $brand-primary;
    width: 40px;
    height: 40px;
    display: block;
    margin: 35px auto;
    text-align: center;
    animation: spin 2s linear infinite;
    &.is--done {
        position: absolute;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.preloader--init {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #f5f5f5;
        opacity: .7;
        z-index: 99;
    }
    &.is--loaded {
        &::after {
            display: none;
        }
    }
}
