<!doctype html>
<html lang="en" ng-app="weddingPlanner" ng-controller="SampleCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wedding Planner - aplikacja do zarządzania listą z gośćmi weselnymi</title>
    <script src="https://use.fontawesome.com/b4095e84c3.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/site-components.css" />
  </head>
  <body>
   <header class="component header ng-cloak" ng-app="sampleApp" ng-controller="SampleCtrl" ng-show="firebaseUser">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar">
                        <div class="navbar__brand">
                            <a href="/#/dashboard" class="logo h1">weddingPlanner</a>
                            <span class="navbar__brand--helper">panel administratora</span>
                        </div>
                        <nav class="navbar__nav" ng-controller="MainNavCtrl">
                            <ul class="list-unstyled nav">
                                <li class="nav__element">
                                    <a href="#" title="Otwórz menu" data-title-open="Otwórz menu" data-title-closed="Zamknij menu" class="nav__anchor nav__anchor--menu" ng-click="openMenu()">
                                        <span>Otwórz menu</span>
                                        <i class="fa fa-bars nav__icon" aria-hidden="true"></i>
                                    </a>
                                    <ul class="list-unstyled dropdown-menu dropdown-menu--global">

                                        <li class="dropdown-menu__element dropdown-menu__element--global">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="menuItem in menuItems[0]" ng-class="{active: isActive('{{ menuItem.url }}')}">
                                                    <a ng-href="#{{menuItem.url}}" title="{{menuItem.title}}" class="dropdown-menu__anchor">{{ menuItem.name }}</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-menu__element dropdown-menu__element--manage">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="menuItem in menuItems[1].manage" ng-class="{active: isActive('{{ menuItem.url }}')}">
                                                    <a ng-href="#{{menuItem.url}}" title="{{menuItem.title}}" class="dropdown-menu__anchor">{{ menuItem.name }}</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-menu__element dropdown-menu__element--analyst">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="menuItem in menuItems[2]" ng-class="{active: isActive('{{ menuItem.url }}')}">
                                                    <a ng-href="#{{menuItem.url}}" title="{{menuItem.title}}" class="dropdown-menu__anchor">{{ menuItem.name }}</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-menu__element dropdown-menu__element--documentation">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="menuItem in menuItems[3]" ng-class="{active: isActive('{{ menuItem.url }}')}">
                                                    <a ng-href="#{{menuItem.url}}" title="{{menuItem.title}}" class="dropdown-menu__anchor">{{ menuItem.name }}</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav__element nav__element--logout">
                                    <a href="#" class="nav__anchor nav__anchor--logout" ng-click="logoutMenu()">
                                        <img src="assets/images/user-photo.png" alt="">
                                    </a>
                                    <ul class="list-unstyled dropdown-menu dropdown-menu--logout">
                                        <li class="avatar">
                                            <figure>
                                                <img src="assets/images/user-photo.png" alt="">
                                                <figcaption>
                                                    <span>Zalogowany jako: </span><strong>{{ firebaseUser.email }}</strong>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li class="footer">
                                            <button ng-click="auth.$signOut(); match()" class="btn btn-transparent btn-xs">Wyloguj</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="layout main">
        <div ng-view></div>
    </main>
    <footer class="layout component footer ng-cloak" ng-show="firebaseUser">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer__inner">
                        <h6 class="small">&copy 2017 by e-inet.pl, wszystkie prawa zastrzeżone. Wersja aplikacji <code ng-controller="controllerAppVersion">{{appVersion}}</code></h6>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="assets/javascript/bootstrap.min.js"></script>
    <script src="assets/javascript/angular1.6.6.min.js"></script>
    <script src="assets/javascript/angular-route.min.js"></script>
    <script src="assets/javascript/angular-animate.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script src="assets/javascript/angular-notifications.js"></script>

	<!-- Konfiguracja demo -->
    <script>
    	 var config = {
		    apiKey: "AIzaSyBRjkMKqSHSateo0PxqgrcARp0o4yovlNs",
		    authDomain: "wedding-demo.firebaseapp.com",
		    databaseURL: "https://wedding-demo.firebaseio.com",
		    projectId: "wedding-demo",
		    storageBucket: "wedding-demo.appspot.com",
		    messagingSenderId: "197163022152"
  		};
  		firebase.initializeApp(config);
    </script>

    <script src="assets/javascript/pdfmake.min.js"></script>
    <script src="assets/javascript/vfs-fonts.min.js"></script>
    <script src="assets/javascript/angular-accordions.min.js"></script>


    <script src="app.module.js"></script>
    <script src="app.routes.js"></script>

    <!-- Controllers -->
    <script src="controllers/ctrl.add.new.guest.js"></script>
    <script src="controllers/controller-app-version.js"></script>

    <!-- Components -->
    <script src="controllers/ctrl-page-header.js" type="text/javascript"></script>

    </script>
  </body>
</html>
