<section class="section" ng-controller="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                 <div class="component-layout">
                     <div class="page-header">
                         <div class="page-header__inner">
                             <h1 class="page-header__title">
                                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                                {{pageHeader.title.dashboard}}
                            </h1>
                             <h2 class="page-header__subtitle">{{pageHeader.subtitle.dashboard}}</h2>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>

<!-- Image box for Dashboard -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <app-image-box></app-image-box>
            </div>
        </div>
    </div>
</section>
