<section class="section" ng-controller="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                 <div class="component-layout">
                     <div class="page-header">
                         <div class="page-header__inner">
                             <h1 class="page-header__title">{{pageHeader.title.documentation}}</h1>
                             <h2 class="page-header__subtitle">{{pageHeader.subtitle.documentation}}</h2>
                             <h3>Aktualna wersja aplikacji: <code ng-controller="controllerAppVersion">{{appVersion}}</code></h3>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
	<div class="container">
		<div class="row">
        <div class="col-xs-12">
                <div class="changelog changelog--active">
                    <h2>Wersja 1.0.3 - lista zmian</h2>
                    <ul>
                        <li>dodanie notyfikacji podczas dodawania rekordu (sukces, błąd)</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="changelog">
                    <h2>Wersja 1.0.2 - lista zmian</h2>
                    <ul>
                        <li>modyfikacja menu
                            <ol>
                                <li>dodanie "fistaszka" na aktywnym widoku</li>
                                <li>poprawa czytelność</li>
                            </ol>
                        </li>
                        <li>modyfikacja panelu wylogowującego</li>
                        <li>dodanie możliwości zamykania dropdown-menu przy pomocy kliku na okno</li>
                        <li>dodanie strony 404, zwracającej bład w wypadku błędnie wpisanego adresu URI</li>
                    </ul>
                </div>
            </div>
			<div class="col-xs-12">
				<div class="changelog">
                    <h2>Wersja 1.0.1 - lista zmian</h2>
    				<ul>
    					<li>udostępnienie kontrolki do druku</li>
    					<li>zmiany dla widoku: login</li>
    					<li>zmiany dla widoku: dashboard</li>
    					<li>zmiany dla widoku: manage-guests</li>
    					<li>zmiany statusu "Niepotwierdzony" na "oczekujący"</li>
    					<li>zmiana widoku dla: logout panel</li>
    					<li>dodanie zaawansowanych statystyk</li>
    					<li>Liczba porządkowa w tabeli zaczyna się od "1"</li>
    				</ul>
				</div>
			</div>
		</div>
	</div>
</section>
