<section class="section" ng-controller="pageHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <app-intro-banner
                    class="intro-banner--sidebar"
                    introBannerTitle="Dokumentacja"
                    introbannerdescription={{pageHeader.subtitle.documentation}}>
                    <intro-banner-desclimer>
                        Aktualna wersja aplikacji <code ng-controller="controllerAppVersion">{{appVersion}}</code>
                    </intro-banner-desclimer>
                </app-intro-banner>
            </div>
            <div class="col-sm-8">
                <div class="component-layout">
                    <!-- add `multiple` attribute to allow multiple sections to open at once -->
                    <v-accordion class="vAccordion--default">
                      <!-- add expanded attribute to open the section -->
                      <v-pane expanded> <!-- [1.0.7] -->
                        <v-pane-header>Wersja 1.0.7 - aktualna wersja aplikacji</v-pane-header>
                        <v-pane-content>
                            <ul>
                    		 	<li>Uruchomienie modułu <a href="#/to-do-list">Notatnik weselny</a></li>
                                <li>
                                    Dodanie możliwości aktualizacji swojego profilu o takie takie dane jak:
                                    imię, nazwisko oraz zdjęcie profilowe.
                                </li>
                                <li>Uspójnienie wyglądu intro-bannera</li>
                                <li>Wprowadzenie modyfikacji RWD</li>
                            </ul>
                        </v-pane-content>
                      </v-pane>
                      <v-pane> <!-- [1.0.6] -->
                        <v-pane-header>Wersja 1.0.6</v-pane-header>
                        <v-pane-content>
                            <ul>
                    		 	<li>Dodanie notyfikacji w momencie dokonania edycji rekordu</li>
                                <li>Dodanie informacji o ostatnim udanym logowaniu</li>
                                <li>Zmodyfikowanie mechaniki oznaczania "kolorami" statusów w tabeli genrycznej</li>
                            </ul>
                        </v-pane-content>
                      </v-pane>
                      <v-pane> <!-- [1.0.5] -->
                        <v-pane-header>Wersja 1.0.5</v-pane-header>
                        <v-pane-content>
                            <ul>
                    		 	<li>Tabela prezentująca wyniki zostaje rozszerzona o informacje dodatkowe takie jak:
                                    <ol>
                                        <li>data dodatnia</li>
                                        <li>informacja o zarządcy, który stworzył rekord</li>
                                    </ol>
                                </li>
                                <li>Redesing widoku szczegółów gościa (w tabeli)</li>
                                <li>Edycja gościa odbywa się na oddzielnym widoku (wyeliminowanie modala). Zmiana UX'owa.</li>
                            </ul>
                        </v-pane-content>
                      </v-pane>
                      <v-pane> <!-- [1.0.4] -->
                        <v-pane-header>Wersja 1.0.4</v-pane-header>
                        <v-pane-content>
                            <ul>
                    		 	<li>Refactoring tabeli prezentującej gości. Przejśćie ze znacznika table na flexbox</li>
                            </ul>
                        </v-pane-content>
                      </v-pane>
                      <v-pane> <!-- [1.0.3] -->
                        <v-pane-header>Wersja 1.0.3</v-pane-header>
                        <v-pane-content>
                            <ul>
                    		 	<li>dodanie notyfikacji podczas dodawania rekordu</li>
                            	<li>notyfikacji prezentowana jest w prawym górnym rogu ekranu, przy próbie dodania gościa do bazy danych</li>
                            	<li>notyfikacja wyświetla się po <span class='success'>poprawnym dodaniu</span> gościa do bazy</li>
                            	<li>notyfikacja wyświetla się w przypadku <span class='error'>błędu</span>. Rekord taki nie zostaje dodany do bazy</li>
                            	<li>poprawa błędu podczas zliczania liczby gości</li>
                            </ul>
                        </v-pane-content>
                      </v-pane>

                      <v-pane> <!-- [1.0.2] -->
                        <v-pane-header>Wersja 1.0.2</v-pane-header>
                        <v-pane-content>
                            <ul>
                    		 	<li>modyfikacja menu
                    		 		<ol>
                    		 			<li>dodanie 'fistaszka' na aktywnym widoku</li>
                    		 			<li>poprawa czytelność</li>
                    		 		</ol>
                    		 	</li>
                    		 	<li>modyfikacja panelu wylogowującego</li>
                    		 	<li>dodanie możliwości zamykania dropdown-menu przy pomocy kliku na okno</li>
                    		 	<li>dodanie strony 404, zwracającej bład w wypadku błędnie wpisanego adresu URI</li>
                	        </ul>
                        </v-pane-content>
                      </v-pane>

                      <v-pane> <!-- [1.0.1] -->
                        <v-pane-header>Wersja 1.0.1</v-pane-header>
                        <v-pane-content>
                            <ul>
                    		 	<li>udostępnienie kontrolki do druku</li>
                    		 	<li>zmiany dla widoku: login</li>
                    		 	<li>zmiany dla widoku: dashboard</li>
                    		 	<li>zmiany dla widoku: manage-guests</li>
                    		 	<li>zmiany statusu 'Niepotwierdzony' na 'oczekujący'</li>
                    		 	<li>zmiana widoku dla: logout panel</li>
                    		 	<li>dodanie zaawansowanych statystyk</li>
                    		 	<li>Liczba porządkowa w tabeli zaczyna się od '1'</li>
                		    </ul>
                        </v-pane-content>
                      </v-pane>


                    </v-accordion>
                </div>
            </div>
        </div>
    </div>
</section>
