<!-- Component intro-banner -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-intro-banner introBannerTitle="Edycja gościa">
                    <intro-banner-note>
                        - {{person.firstName}} {{person.surName}}
                    </intro-banner-note>
                </app-intro-banner>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- First Name -->
                                <div class="form-group form-group--modern form-group--label">
                                    <label for="appFirstName" class="label">Podaj imię / imiona <span class="error" ng-show="formAddNewGuest.firstName.$error.required">*</span></label>
                                    <div class="form-group__input">
                                        <i aria-hidden="true" class="fa fa-user form-group__icon"></i>
                                        <input type="text" name="firstName" ng-model="person.firstName" id="appFirstName" class="form-control form-control--modern form-control--username"/>
                                    </div>
                                </div>

                                <!-- Guest Count -->
                                <div class="form-group form-group--modern form-group--label">
                                    <label for="appGuestCount" class="label">Podaj przewidywaną liczbę osób *</label>
                                    <div class="form-group__input">
                                        <i aria-hidden="true" class="fa fa-user form-group__icon"></i>
                                        <input type="number" name="guestCount" ng-model="person.guestCount" id="appGuestCount" class="form-control form-control--modern form-control--username"/>
                                    </div>
                                </div>

                                <!-- Include status -->
                                <div class="form-group">
                                    <p>Wybierz status:</p>
                                    <label>Potwierdzony
                                        <input type="radio" ng-model="person.status" value="Potwierdzony">
                                    </label><br/>
                                    <label>Oczekujący
                                        <input type="radio" ng-model="person.status" value="Oczekujący">
                                    </label><br/>
                                    <label>Odmowa
                                        <input type="radio" ng-model="person.status" value="Odmowa">
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- Surname -->
                                <div class="form-group form-group--modern form-group--label">
                                    <label for="appSurName" class="label">Podaj nazwisko<span class="error" ng-show="formAddNewGuest.surName.$error.required">*</span></label>
                                    <div class="form-group__input">
                                        <i aria-hidden="true" class="fa fa-user form-group__icon"></i>
                                        <input type="text" name="surName" ng-model="person.surName" id="appSurName" class="form-control form-control--modern form-control--username"/>
                                    </div>
                                </div>

                                <!-- Membership -->
                                <div class="form-group form-group--modern form-group--label">
                                    <label for="appMembership" class="label">Wybierz przynależność<span class="error" ng-show="formAddNewGuest.surName.$error.required">*</span></label>
                                    <select name="appMembership" id="appMembership" required ng-model="person.membership" class="form-control form-control--modern form-control--username" required>
                                        <option value="Pan Młody">Pan Młody</option>
                                        <option value="Pani Młoda">Pani Młoda</option>
                                    </select>
                                </div>

                                <!-- Phone number -->
                                <div class="form-group form-group--modern form-group--label">
                                    <label for="appGuestPhoneNumber" class="label">Zmodyfikuj numer telefonu</label>
                                    <div class="form-group__input">
                                        <i aria-hidden="true" class="fa fa-user form-group__icon"></i>
                                        <input type="text" name="phoneNumber" ng-model="person.phoneNumber" id="appGuestPhoneNumber" class="form-control form-control--modern form-control--username"/>
                                    </div>
                                </div>

                                <!-- Children number -->
                                <div class="form-group form-group--modern form-group--label">
                                    <label for="appGuestChildren" class="label">Liczba dzieci</label>
                                    <div class="form-group__input">
                                        <i aria-hidden="true" class="fa fa-user form-group__icon"></i>
                                        <input type="text" name="children" ng-model="person.children" id="appGuestChildren" class="form-control form-control--modern form-control--username"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- Wypełnij pole :: Informacje dodatkowe -->
                        <div class="form-group form-group--modern form-group--label">
                            <label for="appExtraInformation" class="label">Informacje dodatkowe</label>
                            <textarea name="name" ng-model="person.extraInformation" class="form-control form-control--modern form-control--username form-control--textarea" ng-minlength="3"></textarea>
                        </div>
                        <div class="form-group-actions">
                            <div class="btn-group btn-group--sm btn-group--centered">
                                <a href="#" ng-click="sendRecordToDataBase()" class="btn btn-success">Zapisz</a>
                                <a href="#/manage-guests" class="btn btn-danger">Nie zapisuj</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
