<div class="login-panel" ng-hide="firebaseUser" ng-controller="userLogin">
    <div class="login-panel__header">
        <h6 class="login-panel__title">Login</h6>
    </div>
    <div class="login-panel__forms">
        <form class="login-panel__form">
            <div class="form-group form-group--modern">
                <div class="form-group__input">
                    <i aria-hidden="true" class="fa fa-user form-group__icon"></i>
                    <input type="text" class="form-control form-control--modern" placeholder="Adres e-mail" ng-model="email" autocomplete="off"/>
                </div>
            </div>
            <div class="form-group form-group--modern">
                <div class="form-group__input">
                    <i aria-hidden="true" class="fa fa-key form-group__icon"></i>
                    <input type="{{inputType}}" class="form-control form-control--modern" placeholder="Hasło" ng-model="password" />
                </div>
                <span ng-mouseenter="passwordHelper()" ng-mouseleave="passwordHelper()" class="form-group__password-healper">Pokaż hasło</span>
            </div>
            <div class="form-group form-group--modern">
                <button ng-click="appSignIn()" class="btn btn--motive btn-block" ng-class="authorizationInit ? 'is--loading' : 'is--error'">
                    <span>{{loginText}}</span>
                </button>
            </div>
            <div class="form-group form-group--modern form-group__helper">
                <div class="text-xs-center text-danger">
                    <div id="error-message"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="text-xs-center" ng-controller="controllerAppVersion">Wedding planner. Wersja aplikacji - <code>{{appVersion}}</code></div>
        </form>
    </div>
</div>
