<!-- Component intro-banner -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-intro-banner introBannerTitle="Zarządzaj listą gości"></app-intro-banner>
            </div>
        </div>
    </div>
</section>


<section class="section" ng-controller="mainController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="section-title">
                        <strong>Filtruj</strong><span> - wyszukaj po frazie</span>
                </h2>
                <form>
                    <div class="form-group form-group--modern">
                        <div class="form-group__input">
                            <i aria-hidden="true" class="fa fa-search form-group__icon"></i>
                            <input type="text" class="form-control form-control--modern" placeholder="Wpisz frazę..." ng-model="searchPerson" ng-model-options="{debounce: 200}">
                        </div>
                        <p>&nbsp;</p>
                    </div>
                </form>
            </div>
            <div class="col-sm-3">
                <h2 class="section-title">
                        <strong>Wydrukuj</strong><span> - tabele (np. przefiltrowaną)</span>
                </h2>
                 <a href="#" ng-click="printTable()" class="btn btn-primary btn-sm btn-block">Pobierz PDF</a>
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-controller="addNewGuest">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title">
                    <strong>Twoja lista gości</strong><span> - dane tabelaryczne</span>
                </h2>
                <div class="component table-management">
                    <!-- Table header -->
                    <div class="table-management__header">
                        <div class="table-management__row">
                            <div class="table-management__cell table-management__cell--index">L.P.</div>
                            <div class="table-management__cell table-management__cell--first-name">
                                <a href="#" ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
                                    Imię
                                    <span ng-show="sortType == 'firstName'" class="fa"
                                          ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </a>
                            </div>
                            <div class="table-management__cell table-management__cell--surname">
                                <a href="#" ng-click="sortType = 'surName'; sortReverse = !sortReverse">
                                    Nazwisko
                                    <span ng-show="sortType == 'surName'" class="fa"
                                          ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </a>
                            </div>
                            <div class="table-management__cell table-management__cell--guest-count">
                                <a href="#" ng-click="sortType = 'guestCount'; sortReverse = !sortReverse">
                                    Liczba osób
                                    <span ng-show="sortType == 'guestCount'" class="fa"
                                          ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </a>
                            </div>
                            <div class="table-management__cell table-management__cell--children">
                                <a href="#" ng-click= "sortType = 'children'; sortReverse = !sortReverse">
                                    Dzieci
                                    <span ng-show="sortType == 'children'" class="fa"
                                          ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </a>
                            </div>
                           <div class="table-management__cell table-management__cell--membership">
                                <a href="#" ng-click= "sortType = 'membership'; sortReverse = !sortReverse">
                                    Przynależność
                                    <span ng-show="sortType == 'membership'" class="fa"
                                          ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </a>
                            </div>
                            <div class="table-management__cell table-management__cell--status">
                                <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                                    Status
                                    <span ng-show="sortType == 'status'" class="fa"
                                          ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </a>
                            </div>
                            <div class="table-management__cell">
                                Operacje
                            </div>
                        </div>
                    </div>

                    <!-- Table body -->
                    <div class="table-management__body has--preloader">
                        <div class="table-management__row table-management__row--body"
                             ng-repeat="person in persons | orderBy:sortType:sortReverse | filter:searchPerson" dire-table-preloader="direTablePreloader()">
                            <div class="table-management__cell table-management__cell--index"> {{ $index }}</div>
                            <div class="table-management__cell table-management__cell--first-name"> {{ person.firstName }}</div>
                            <div class="table-management__cell table-management__cell--surname"> {{ person.surName }}</div>
                            <div class="table-management__cell table-management__cell--guest-count"> {{ person.guestCount }}</div>
                            <div class="table-management__cell table-management__cell--children"> {{ person.children }}</div>
                            <div class="table-management__cell table-management__cell--membership"> {{ person.membership }}</div>
                            <div class="table-management__cell table-management__cell--status" data-status="{{(person.status === 'Oczekujący' ? 'Oczekujacy' : person.status) | lowercase}}"> {{ person.status }}</div>
                            <div class="table-management__cell table-management__cell--btn-group">
                                <div class="btn-group btn-group--xs">
                                    <a href="#/edit-guest/{{person.$id}}" class="btn btn-success btn-xs" title="Edytuj">Edytuj</a>
                                    <a href="#" class="btn btn-danger btn-xs" title="Usuń" ng-controller="ctrlDeletePerson" ng-click="deletePerson(person.$id)">Usuń</a>
                                </div>
                            </div>
                            <div class="table-management__hidden-row">
                                <v-accordion data-accordion-id="{{person.$id}}" class="vAccordion--default">
                                    <v-pane>
                                        <v-pane-header class="accordion__header table-management__row-details"
                                            title="Więcej informacji dla {{person.firstName}} {{person.surName}}">
                                            Pokaż szczegóły</v-pane-header>
                                        <v-pane-content>
                                            <ul class="table-management__list">
                                                <li class="table-management__list-element">
                                                    <span class="table-management__hidden-header">Telefon</span>
                                                    <strong class="pdf-maker--phone-number table-management__hidden-description">{{ person.phoneNumber }}</strong>
                                                </li>
                                                <li class="table-management__list-element">
                                                    <span class="table-management__hidden-header">Data dodania</span>
                                                    <strong class="table-management__hidden-description">{{ person.dataAdded }}</strong>
                                                </li>
                                                <li class="table-management__list-element">
                                                    <span class="table-management__hidden-header">Dodany przez</span>
                                                    <strong class="table-management__hidden-description">{{person.creator}}</strong>
                                                </li>
                                                <li class="table-management__list-element table-management__list-element--wide">
                                                    <span class="table-management__hidden-header">Informacje dodatkowe</span>
                                                    <strong class="table-management__hidden-description">{{ person.extraInformation }}</strong>
                                                </li>
                                                <li class="table-management__list-element table-management__list-element--button">
                                                    <button ng-click="$accordion.collapseAll()"
                                                            class="btn btn-xs btn-transparent table-management__hide-button"
                                                            title="Ukryj informację dla {{person.firstName}} {{person.surName}}">Ukryj szczegóły</button>
                                                </li>
                                            </ul>
                                        </v-pane-content>
                                    </v-pane>
                                </v-accordion>
                            </div>
                        </div>
                    </div>
                    <span class="js-preloader"></span>
                </div>
            </div>
    </div>
</div>
</section>
