<!-- Component intro-banner -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-intro-banner introBannerTitle="Zarządzanie listą gości"></app-intro-banner>
            </div>
        </div>
    </div>
</section>

<!-- Component BreadCrumbs -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div>
    </div>
</section>

<section class="section" ng-controller="mainController">
    <div class="container-fluid">
        <div class="row row--flex">
            <div class="component widget widget--light widget--category col-flex-3" data-component-name="widget"">
                <div class="inner">
                    <div class="widget__header widget__header--popover">
                        <h2 class="widget__title">
                            <strong>Wyszukiwarka listy gości</strong>
                            <span class="widget__popover"
                                  ng-controller="controllerPopover"
                                  uib-popover-template="appPopover.templateUrl"
                                  popover-placement="auto top-left"
                                  popover-trigger="'none'"
                                  data-popover-title="Wskazówka"
                                  data-popover-content="Wyszukiwarka działa w oparciu o kolumny 'Imię' oraz 'Nazwisko'."
                                  popover-is-open="appPopover.open"
                                  ng-click="appPopoverInit($event)">
                                <i class="fa fa-question-circle"></i>
                            </span>
                        </h2>
                    </div>
                    <div class="widget__content">
                        <div class="form-group form-group--modern">
                            <div class="form-group__input">
                                <i aria-hidden="true" class="fa fa-search form-group__icon"></i>
                                <input type="text" class="form-control form-control--modern" placeholder="Wyszukaj po imieniu lub nazwisku" ng-model="searchPerson.fullName">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="component widget widget--light widget--category col-flex-3" data-component-name="widget"">
                <div class="inner">
                    <div class="widget__header widget__header--popover">
                        <h2 class="widget__title">
                            <strong>Filtruj dane tabelaryczne</strong>
                        </h2>
                    </div>
                    <div class="widget__content widget__content--flex">
                        <div class="widget__content-item">
                            <div class="select-group">
                                <div class="select-label">
                                    Filtruj po przynależności:
                                </div>
                                <div class="select-value">
                                    <select ng-model="searchPerson.membership" class="material-form__control material-form__control--transparent">
                                        <option value="">Wszystkie</option>
                                        <option value="Pan Młody">Pan Młody</option>
                                        <option value="Pani Młoda">Pani Mloda</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="widget__content-item">
                            <div class="select-group">
                                <div class="select-label">
                                    Filtruj po statusie:
                                </div>
                                <div class="select-value">
                                    <select ng-model="searchPerson.status" class="material-form__control material-form__control--transparent">
                                        <option value="">Wszystkie</option>
                                        <option value="Oczekujący">Oczekujący</option>
                                        <option value="Potwierdzony">Potwierdzony</option>
                                        <option value="Odmowa">Odmowa</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="component widget widget--light widget--category col-flex-3" data-component-name="widget"">
                <div class="inner">
                    <div class="widget__header widget__header--popover">
                        <h2 class="widget__title">
                            <strong>Wydrukuj dane tabelaryczne</strong>
                        </h2>
                    </div>
                    <div class="widget__content">
                        <a href="#" ng-click="printTable()" class="btn btn-material btn-block">Pobierz PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-controller="addNewGuest">
        <div class="row">
            <div class="col-xs-12">
                <hr class="hr--light">
                <h2 class="section-title">
                    <strong>Twoja lista gości</strong>
                        <span> - dane tabelaryczne
                            <span ng-if="dbLoaded">( {{ (persons | filter:searchPerson:accuracy).length }} )</span>
                        </span>
                    <app-manage-guest-sorting-label></app-manage-guest-sorting-label>
                </h2>
                <div class="component table-management">
                    <!-- Table header -->

                    <div class="table-management__header">
                        <div class="table-management__row">
                            <div class="table-management__cell table-management__cell--index">L.P.</div>
                            <div class="table-management__cell table-management__cell--first-name" ng-click="sortingTableManagement('firstName', sortReverse = !sortReverse, 'Imię')">
                                <span>Imię</span>
                                <span ng-show="sortType == 'firstName'" class="table-management__sort-arrow fa"
                                      ng-class="sortReverse ? 'fa-caret-down' : 'fa-caret-up'"></span>
                            </div>
                            <div class="table-management__cell table-management__cell--surname" ng-click="sortingTableManagement('surName', sortReverse = !sortReverse, 'Nazwisko')">
                                <span>Nazwisko</span>
                                <span ng-show="sortType == 'surName'" class="table-management__sort-arrow fa"
                                      ng-class="sortReverse ? 'fa-caret-down' : 'fa-caret-up'"></span>
                            </div>
                            <div class="table-management__cell table-management__cell--guest-count" ng-click="sortingTableManagement('guestCount', sortReverse = !sortReverse, 'Liczba osób')">
                                <span>Liczba osób dorosłych</span>
                                <span ng-show="sortType == 'guestCount'" class="table-management__sort-arrow fa"
                                      ng-class="sortReverse ? 'fa-caret-down' : 'fa-caret-up'"></span>
                            </div>
                            <div class="table-management__cell table-management__cell--children" ng-click="sortingTableManagement('children', sortReverse = !sortReverse, 'Liczba dzieci')">
                                <span>Liczba dzieci</span>
                                <span ng-show="sortType == 'children'" class="table-management__sort-arrow fa"
                                      ng-class="sortReverse ? 'fa-caret-down' : 'fa-caret-up'"></span>
                            </div>
                           <div class="table-management__cell table-management__cell--membership" ng-click="sortingTableManagement('membership', sortReverse = !sortReverse, 'Przynależność')">
                                <span>Przynależność</span>
                                <span ng-show="sortType == 'membership'" class="table-management__sort-arrow fa"
                                      ng-class="sortReverse ? 'fa-caret-down' : 'fa-caret-up'"></span>
                            </div>
                            <div class="table-management__cell table-management__cell--status" ng-click="sortingTableManagement('status', sortReverse = !sortReverse, 'Status')">
                                <span>Status</span>
                                <span ng-show="sortType == 'status'" class="table-management__sort-arrow fa"
                                      ng-class="sortReverse ? 'fa-caret-down' : 'fa-caret-up'"></span>
                            </div>
                            <div class="table-management__cell table-management__cell--operations">
                                <span>Operacje</span>
                            </div>
                        </div>
                    </div>

                    <!-- Table body -->
                    <app-information-box ng-if="!persons.length && dbLoaded">
						<information-box-content>
							<p>Nie posiadasz jeszcze żadnego gościa. Dodaj gościa korzystając z modułu <a ng-href="/#/add-new-guest">Dodaj gościa</a></p>
						</information-box-content>
					</app-information-box>
                    <div class="table-management__body has--preloader">
                        <strong ng-if="persons.length && dbLoaded && (persons | filter:searchPerson:accuracy).length === 0" class="table-management__empty">
                            Brak danych do wyświetlenia<br/>
                            <small>Spróbuj zmienić nieco swoje kryteria wyszukiwania, aby znaleźć to, czego szukasz.</small>
                        </strong>
                        <div class="table-management__row table-management__row--body"
                             ng-repeat="person in persons | orderBy:sortType:sortReverse | filter:searchPerson | offset: (currentPage-1)*itemPerPage | limitTo: itemPerPage" dire-table-preloader="direTablePreloader()">
                            <div class="table-management__cell table-management__cell--index"> {{ ($index + 1) + (currentPage - 1) * itemPerPage}} </div>
                            <div class="table-management__cell table-management__cell--first-name">
                                <span class="table-management__cell-label">Imię</span>
                                <span class="table-management__cell-value pdf-maker--firstname">{{ person.firstName }}</span>
                            </div>
                            <div class="table-management__cell table-management__cell--surname">
                                <span class="table-management__cell-label">Nazwisko</span>
                                <span class="table-management__cell-value pdf-maker--surname">{{ person.surName }}</span>
                            </div>
                            <div class="table-management__cell table-management__cell--guest-count">
                                <span class="table-management__cell-label">Liczba osób dorosłych</span>
                                <span class="table-management__cell-value pdf-maker--guestCount">{{ person.guestCount }}</span>
                            </div>
                            <div class="table-management__cell table-management__cell--children">
                                <span class="table-management__cell-label">Liczba dzieci</span>
                                <span class="table-management__cell-value pdf-maker--children">{{ person.children }}</span>
                            </div>
                            <div class="table-management__cell table-management__cell--membership">
                                <span class="table-management__cell-label">Przynależność</span>
                                <span class="table-management__cell-value pdf-maker--membership">{{ person.membership }}</span>
                            </div>
                            <div class="table-management__cell table-management__cell--status" data-status="{{(person.status === 'Oczekujący' ? 'Oczekujacy' : person.status) | lowercase}}">
                                <span class="table-management__cell-label">Status</span>
                                <span class="table-management__cell-value pdf-maker--status">{{ person.status }}</span>
                            </div>
                            <div class="table-management__cell table-management__cell--btn-group">
                                <div class="btn-group btn-group--xs">
                                    <a href="#/edit-guest/{{person.$id}}" class="btn btn-success btn-xs" title="Edytuj">Edytuj</a>
                                    <a href="#" class="btn btn-danger btn-xs" title="Usuń" ng-controller="ctrlDeletePerson" ng-click="deletePerson(person.$id)">Usuń</a>
                                </div>
                            </div>
                            <div class="table-management__hidden-row">
                                <span class="table-management__hidden-row-label">Informacje dodatkowe</span>
                                <v-accordion data-accordion-id="{{person.$id}}" class="vAccordion--default">
                                    <v-pane>
                                        <v-pane-header class="accordion__header table-management__row-details"
                                            title="Więcej informacji dla {{person.firstName}} {{person.surName}}">
                                            Pokaż szczegóły
                                        </v-pane-header>
                                        <v-pane-content>
                                            <ul class="table-management__list">
                                                <li class="table-management__list-element">
                                                    <span class="table-management__hidden-header">Telefon</span>
                                                    <strong class="pdf-maker--phone-number table-management__hidden-description">{{ person.phoneNumber }}</strong>
                                                </li>
                                                <li class="table-management__list-element">
                                                    <span class="table-management__hidden-header">Data dodania</span>
                                                    <strong class="table-management__hidden-description">
                                                        {{ person.dataAdded | date : 'dd MMMM yyyy' }} <br/>
                                                        godz. {{ person.dataAdded | date : 'H:m:s' }}
                                                    </strong>
                                                </li>
                                                <li class="table-management__list-element">
                                                    <span class="table-management__hidden-header">Dodany przez</span>
                                                    <strong class="table-management__hidden-description">{{person.creator}}</strong>
                                                </li>
                                                <li class="table-management__list-element table-management__list-element--wide">
                                                    <span class="table-management__hidden-header">Informacje dodatkowe</span>
                                                    <strong class="table-management__hidden-description">{{ person.extraInformation }}</strong>
                                                </li>
                                                <li class="table-management__list-element table-management__list-element--button">
                                                    <button ng-click="$accordion.collapseAll()"
                                                            class="btn btn-xs btn-transparent table-management__hide-button"
                                                            title="Ukryj informację dla {{person.firstName}} {{person.surName}}">Ukryj szczegóły</button>
                                                </li>
                                            </ul>
                                        </v-pane-content>
                                    </v-pane>
                                </v-accordion>
                            </div>
                        </div>

                        <div class="table-management__paginator" ng-show="persons.length && (persons | filter:searchPerson:accuracy).length > 0">
                            <div class="table-management__paginator-size">
                                <span class="table-management__paginator-label">Elementów na stronę: </span>
                                <span uib-dropdown on-toggle="toggled(open)" class="table-management__paginator-value">
                                  <a uib-dropdown-toggle>
                                    {{label}}
                                  </a>
                                  <ul class="dropdown-menu animated zoomIn" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                    <li ng-repeat="el in elements" ng-click="clickedEl(el)">
                                        {{el.itemsPerPage}}
                                    </li>
                                  </ul>
                                </span>
                            </div>
                            <div class="table-management__paginator-note">
                                Strona {{currentPage}} z {{numPages}}
                            </div>
                            <div class="table-management__paginator-navigation">
                                <ul uib-pagination total-items="persons.length"
                                    ng-model="currentPage"
                                    ng-change="pageChanged()"
                                    items-per-page="itemPerPage"
                                    rotate="true"
                                    max-size="0"
                                    num-pages="numPages"
                                    boundary-links="true"
                                    class="pagination-sm list-unstyled"
                                    previous-text="Poprzednia"
                                    next-text="Następna"
                                    first-text="Strona pierwsza"
                                    last-text="Strona ostatnia"
                                    template-url="templates/pagination/pagination.html"></ul>
                            </div>
                        </div>
                    </div>
                    <span class="js-preloader" ng-hide="dbLoaded" ng-class="dbLoaded === true && 'is--done'"></span>
                </div>
            </div>
    </div>
</div>
</section>
