<section class="section" ng-controller="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                 <div class="component-layout">
                     <div class="page-header">
                         <div class="page-header__inner">
                             <h1 class="page-header__title">{{pageHeader.title.toDoList}}</h1>
                             <h2 class="page-header__subtitle">{{pageHeader.subtitle.toDoList}}</h2>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>

<section class="section" ng-controller="ctrlToDoList">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="component app-selectize preloader--init" data-component-name="app-selectize" ng-class="{'is--loaded': preloaderChecker}">
                    <span class="js-preloader"></span>
                    <div class="app-selectize__form">
                        <h4 class="app-selectize__label">Dodaj nową kategorię
                            <span ng-hide="todoCategoryDirty" class="text-danger"> - wybierz kategorię</span>
                            <span ng-hide="todoCategoryDuplicated" class="text-danger"> - wybrana kategoria jest używana</span>
                        </h4>
                        <selectize config='todoListSelectizeConfig' options='todoListSelectizeOptions' ng-model="todoCategoryName"></selectize>
                        <a href="#" ng-click="todoListSelectizeAdd()" ng-show="todoListSelectizeSelected" class="btn btn-primary btn-sm">
                            Dodaj kategorię
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="component widget widget--category preloader--init" data-component-name="widget" ng-class="{'is--loaded': preloaderChecker}">
                    <span class="js-preloader"></span>
                    <div class="inner">
                        <div class="widget__header widget__header--popover">
                            <h2 class="widget__title">
                                <strong>Dostępne kategorie</strong>
                                <span class="widget__popover"
                                      ng-controller="controllerPopover"
                                      uib-popover-template="appPopover.templateUrl"
                                      popover-placement="auto top-left"
                                      popover-trigger="'none outsideClick'"
                                      data-popover-title="Wskazówka"
                                      data-popover-content="{{categoryWidgetHeader}}"
                                      popover-is-open="appPopover.open"
                                      ng-click="appPopoverInit($event)">
                                    <i class="fa fa-question-circle"></i>
                                </span>
                            </h2>
                        </div>
                        <div class="widget__content">
                            <div class="category">
                                <p ng-show="todoListDatabaseEmpty" class="text-xs-center">
                                    Nie posiadasz dostępnych kategorii.
                                    <br>
                                    Aby móc skorzystać z <code>TODO Listy</code> musisz stworzyć
                                    prznajmniej jedną kategorię
                                </p>
                                <ul class="list-unstyled widget__list">
                                    <li class="widget__list-element" ng-repeat="category in todoList" ng-class="{isActive: $index == selected}">
                                        <a href="#" title ="{{category.todoCategoryName}}"
                                                    class="widget__list-anchor"
                                                    data-category-id="{{category.$id}}"
                                                    ng-click="todoListShowContent(category.$id); activeItem($index)">
                                            {{ category.todoCategoryName }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="component widget widget--content preloader--init" data-component-name="widget--content" ng-class="{'is--loaded': preloaderChecker}">
                    <span class="js-preloader"></span>
                    <div class="inner">
                        <div class="widget__header">
                            <h2 class="widget__title"><strong>Przyporządkowane notatki</strong></h2>
                        </div>
                        <div class="widget__content">
                            <div class="widget__note" ng-show="todoListContentNoteAvailable">
                                <div class="form-group">
                                    <label for="appToDoListNote" class="form-label">Dodaj notakę w kategorii <strong>{{availableContent.$id | lowercase}}</strong></label>
                                    <input type="text" name="appToDoListNote" value="" id="appToDoListNote" class="form-control" ng-model="todoNoteTitle"/>
                                    <a href="#" class="btn btn-primary btn-sm" ng-click="todoListAddNote(availableContent.$id)">Dodaj notatkę</a>
                                </div>
                            </div>
                            <div class="selectize">
                                <p ng-show="todoListContentEmpty" class="text-xs-center">
                                    Aby móc dodawać notatki wybierz <code>kategorię</code> znajdującą się w panelu <em>Dostępne kategorie</em>
                                </p>
                                <p ng-show="todoListContentNoteEmpty" class="text-xs-center">
                                    Wybrana kategoria nie posiada jeszcze <code>notatek</code>.
                                </p>
                                <ul class="list-unstyled">
                                    <li ng-repeat="currentArrayWithCurrentNotes in dynamicalArrayWithCurrentNotes"
                                        class="text-xs-center"
                                        ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                                        Tytuł notatki {{$index}}: <strong>{{currentArrayWithCurrentNotes.noteTitle}}</strong>
                                        <button title="{{currentArrayWithCurrentNotes.$id}}">Edycja notatki o ID</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
