<!-- Component intro-banner -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <app-intro-banner introBannerTitle="Lista rzeczy do zrobienia"></app-intro-banner>
            </div>
        </div>
    </div>
</section>

<section class="section" ng-controller="ctrlToDoList">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="component app-selectize preloader--init" data-component-name="app-selectize" ng-class="{'is--loaded': preloaderChecker}">
                    <span class="js-preloader"></span>
                    <div class="app-selectize__form">
                        <h6 class="app-selectize__label">Dodaj nową kategorię
                            <span ng-hide="todoCategoryDirty" class="text-danger"> - wybierz kategorię</span>
                            <span ng-hide="todoCategoryDuplicated" class="text-danger"> - wybrana kategoria jest używana</span>
                        </h6>
                        <selectize config='todoListSelectizeConfig' options='todoListSelectizeOptions' ng-model="todoCategoryName"></selectize>
                        <a href="#" ng-click="todoListSelectizeAdd()" ng-show="todoListSelectizeSelected" class="btn btn-primary btn-sm">
                            Dodaj kategorię
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="component widget widget--category preloader--init" data-component-name="widget" ng-class="{'is--loaded': preloaderChecker}">
                    <span class="js-preloader"></span>
                    <div class="inner">
                        <div class="widget__header widget__header--popover">
                            <h2 class="widget__title">
                                <strong>Dostępne kategorie</strong>
                                <span class="widget__popover"
                                      ng-controller="controllerPopover"
                                      uib-popover-template="appPopover.templateUrl"
                                      popover-placement="auto top-left"
                                      popover-trigger="'none outsideClick'"
                                      data-popover-title="Wskazówka"
                                      data-popover-content="{{categoryWidgetHeader}}"
                                      popover-is-open="appPopover.open"
                                      ng-click="appPopoverInit($event)">
                                    <i class="fa fa-question-circle"></i>
                                </span>
                            </h2>
                        </div>
                        <div class="widget__content">
                            <div class="category">
                                <app-information-box ng-if="todoListDatabaseEmpty" class="information-box--top0">
                                    <information-box-content>
                                        <p>Nie posiadasz dostępnych kategorii.</p>
                                        <p>Aby móc skorzystać z <code>TODO Listy</code> musisz stworzyć
                                        prznajmniej jedną kategorię.</p>
                                    </information-box-content>
                                </app-information-box>
                                <ul class="list-unstyled widget__list">
                                    <li class="widget__list-element" ng-repeat="category in todoList" ng-class="{isActive: $index == selected}">
                                        <a href="#" title ="{{category.todoCategoryName}}"
                                                    class="widget__list-anchor"
                                                    data-category-id="{{category.$id}}"
                                                    ng-click="todoListShowContent(category.$id); activeItem($index)">
                                            {{ category.todoCategoryName }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="component widget widget--content preloader--init" data-component-name="widget--content" ng-class="{'is--loaded': preloaderChecker}">
                    <span class="js-preloader"></span>
                    <div class="inner">
                        <div class="widget__header">
                            <h2 class="widget__title"><strong>Przyporządkowane notatki</strong></h2>
                        </div>
                        <div class="componet note" data-component-name="note">
                            <div class="note__accordion" ng-show="todoListContentNoteAvailable">
                                <v-accordion class="vAccordion--default">
                                    <v-pane class="note__accordion-pane">
                                        <v-pane-header class="note__accordion-header">Dodaj notatkę do kategorii <strong>{{availableContent.todoCategoryName | lowercase}}</strong></v-pane-header>
                                        <v-pane-content>
                                            <div class="form-group">
                                                <label for="">Podaj tytuł dla notatki</label>
                                                <input type="text" class="form-control" ng-change="noteControlObservable()" ng-model="observable.title" ng-model-options="{debounce: 1000}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Podaj opis dla notatki</label>
                                                <input type="text" class="form-control" ng-change="noteControlObservable()" ng-model="observable.description" ng-model-options="{debounce: 1000}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Podaj status notatki</label>
                                                <select class="" name="" ng-change="noteControlObservable()" ng-model="observable.status">
                                                    <option value='{"noteValuePriority": 1, "noteNamePriority": "noteNeutralPriority"}'>Priorytet Normalny</option>
                                                    <option value='{"noteValuePriority": 2, "noteNamePriority": "noteHighPriority"}'>Priorytet wysoki</option>
                                                    <option value='{"noteValuePriority": 0, "noteNamePriority": "noteLowPriority"}'>Priorytet niski</option>
                                                </select>
                                            </div>
                                            <a href="#" class="btn btn-primary btn-sm" ng-click="todoListAddNote(availableContent.$id)">Dodaj notatkę</a>
                                        </v-pane-content>
                                    </v-pane>
                                </v-accordion>
                            </div>

                            <app-information-box ng-if="todoListContentNoteEmpty" class="information-box--top0">
                                <information-box-content>
                                    <p>Wybrana kategoria nie posiada jeszcze <code>notatek</code>.</p>
                                    <p>Stwórz notatkę korzytając z dedykowanego formularza.</p>
                                </information-box-content>
                            </app-information-box>

                            <app-information-box ng-if="todoListContentEmpty">
                                <information-box-content>
                                    <p>Wygląda na to, że nie została wybrana <code>kategoria</code> znajdującą się w panelu <em>Dostępne kategorie</em>.</p>
                                    <p>Jeśli nie ma dostępnych kategorii stwórz je korzystając z kontrolki <span class="underline">Dodaj nową kategorię</span></p>
                                </information-box-content>
                            </app-information-box>

                            <!-- Filtr dedykowany notatką -->
                            <todo-filter ng-if="isPlannerCardActivated" class="component filter" data-component-name="filter"></todo-filter>

                            <!-- Komponent renderujący notatki -->
                            <div class="planner-card-container" ng-if="isPlannerCardActivated">
                                <planner-card data-component-name="card"
                                    class="component card"
                                    ng-repeat="currentArrayWithCurrentNotes in dynamicalArrayWithCurrentNotes | orderBy:propertyName | filter:query"
                                    data-index="{{$index}}">
                                </planner-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
